@import url("mainPage.css");
@import url("additionalPage.css");

:root {
    --primary-color: #93b0d096;
    --font-color: #333;
    --font-color-hover: #737b8d;
}

/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: var(--primary-color);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: var(--primary-color);*/
    background-color: white;
    color: var(--font-color);
    line-height: 1.6;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Link */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Layout */
header {
    background: #ffffff;

    padding-top: calc(20px + env(safe-area-inset-top));
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

header a {
    color: var(--font-color);
}

header a:hover {
    color: var(--font-color);
}

.header-container {
    width: 90%;

    display: flex;
    justify-content: flex-start;

}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    flex: 1;
    width: 92%;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 40px;
    background: #ffffff;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.footer-container {
    width: 90%;

    display: flex;
    align-items: center;

    justify-content: space-between;
}

.footer-right{

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.footer-container img {
    width: 30px;
    display: flex;
    align-items: center;
}


/* Container TODO unify containers */

/* Info containers */
.info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    width: 100%;
    min-height: 40vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding: 20px;
    align-items: center;
    text-align: left;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    hyphens: auto;
}

.right {
    flex: 2;
    display: flex;
    justify-content: center;


    flex-direction: column;
    width: 95%;

    text-align: left;
    margin: 0 auto;
}

.right h2 {
    text-align: left;
}

.left img {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 100%;
    margin: 40px auto 10px;
}



/* Info containers end */

/* tech containers*/
.tech-container {
    width: 100%;

    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    font-size: 14px;
    line-height: 1.4;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 40px;
}


.tech-grid {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.tech {
    transition: transform 0.5s;
    height: 100%;
    background-color: #ffffff;
    color: white;

    text-align: center;
    border-radius: 5px;

    font-family: Arial, sans-serif;
    font-weight: bold;
    color: var(--font-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tech:hover {

    transform: scale(1.05);
}



.tech img {
    width: 35px;
    height: auto ;
    display: block;
    border-radius: 5px;
    margin: 0 auto 10px;



}


.tech-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: var(--font-color);
}

/* tech containers end */

.contact-container {
    width: 100%;
    min-height: 15vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    acolor: black;
}

.contact-container img {
    width: 30px
}



.contact-container a {

    margin-top: 15px;
    color: var(--font-color);
    font-weight: bold;
    transition: transform 0.3s;

    display: flex;
    align-items: center;

    gap: 10px;
}


.contact-container a:hover {
    transform: scale(1.02);


}

/* Project work */
.project-container {
    width: 100%;
    min-height: 50vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    font-size: 14px;
    line-height: 1.4;

    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.projects-grid {
    display: grid;
    gap: 15px;
    width: 100%;
    grid-template-columns: 2fr;
}

@media (min-width: 630px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .tech-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .main-section {
        width: 90%;
        margin: 0 auto;
    }


}

@media (min-width: 900px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .tech-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 1100px) {
    .main-section {
        width: 70%;
        margin: 0 auto;
    }

    .header-container {
        width: 70%;
    }

    .footer-container {
        width: 70%;
    }

    .left img {
        width: 68%;

    }

}

.project {
    background-color: #6299cd;

    /*background-color: #5ba7f1;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    transition: transform 0.5s ease;
    min-height: 320px;
}

.project h3 {
    text-align: center;
    margin-bottom: 10px;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin: 0 auto 10px;
}

.project button {
    font-family: Arial, sans-serif;
    color: var(--font-color);
    background-color: white;

    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: block;
    margin: 10px auto 0;
}

.project button:hover {
    transform: translateY(-1px);
    background-color: #b7dcf1;
}


.project:hover {

    transform: scale(1.02);
}


/* Project work end */



/* Page */
.page-container {
    width: 100%;
    margin-top: 40px;
    aspect-ratio: 1 / 1.4142;
    max-height: 124vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}


#pdf-frame {
    width: 95%;
    height: 95%;
    border: none;
    border-radius: 10px;
    max-height: 124vh;
}

#pdf-img {
    display: none;
}
@media (max-width: 700px) {
    .info-container {
        grid-template-columns: 1fr;
    }


    #pdf-frame {
        display: none;
    }

    #pdf-img {
        max-width: 100%;
        max-height: 90vh;
        height: auto;
        width: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
}






/* Page end */